Repository k3d-io/k3d, pull requests merged in 2021-05, with the labels that each got.

#587 docs: usage/configfile typo
  docs/usage/configfile.md
Labels: docs

#597 [FIX/ENHANCEMENT] node/create: inherit registry config from existing nodes
  pkg/client/node.go
  pkg/runtimes/docker/util.go
  pkg/runtimes/errors/errors.go
  pkg/runtimes/runtime.go
Labels: enhancement, scope/package

#603 [Feature] cgroupv2fix: enable by default and move to nodestart
  pkg/client/cluster.go
  pkg/client/fixes.go
  pkg/client/node.go
Labels: enhancement

#598 [Enhancement] Refactoring: normalize label flags (k3s node & runtime) (#598, @ejose19)
  cmd/cluster/clusterCreate.go
  cmd/node/nodeCreate.go
  cmd/node/nodeList.go
  cmd/registry/registryList.go
  cmd/util/runtimeLabels.go
  pkg/client/cluster.go
  pkg/client/kubeconfig.go
  pkg/client/node.go
  pkg/client/registry.go
  pkg/config/config_test.go
  pkg/config/test_assets/config_test_simple.yaml
  pkg/config/test_assets/config_test_simple_invalid_servers.yaml
  pkg/config/transform.go
  pkg/config/v1alpha3/migrations.go
  pkg/config/v1alpha3/schema.json
  pkg/config/v1alpha3/types.go
  pkg/runtimes/docker/container.go
  pkg/runtimes/docker/network.go
  pkg/runtimes/docker/node.go
  pkg/runtimes/docker/translate.go
  pkg/runtimes/docker/translate_test.go
  pkg/runtimes/docker/util.go
  pkg/runtimes/docker/volume.go
  pkg/tools/tools.go
  pkg/types/types.go
  tests/assets/config_test_simple.yaml
  tests/assets/config_test_simple_migration_v1alpha3.yaml
  tests/common.sh
  tests/test_config_file.sh
  tests/test_config_with_overrides.sh
Labels: breaking change, enhancement, scope/cli, scope/package
