Repository k3d-io/k3d, pull requests merged in 2021-07, with the labels that each got.

#666 [Fix] Use default gateway, when bridge network doesn't have it (#666, @kuritka)
  pkg/runtimes/docker/network.go
Labels: enhancement

#653 [Enhancement] Follow Docker's image nameing convention in `k3d image import` (#653, @cimnine)
  cmd/image/imageImport.go
  docs/usage/commands/k3d_image_import.md
  pkg/tools/tools.go
  pkg/tools/tools_test.go
Labels: docs, enhancement

#669 [Docs] simplify cuda guide
  docs/usage/guides/cuda.md
  docs/usage/guides/cuda/Dockerfile
  docs/usage/guides/cuda/Dockerfile.base
  docs/usage/guides/cuda/Dockerfile.k3d-gpu
  docs/usage/guides/cuda/build.sh
  docs/usage/guides/cuda/device-plugin-daemonset.yaml
Labels: docs, enhancement

#672 [ENHANCEMENT] imageImport: start existing tools node before using it and add option to keep it around
  cmd/image/imageImport.go
  pkg/tools/tools.go
  pkg/types/types.go
Labels: bug, component/main, enhancement, priority/medium, scope/cli, scope/package

#670 [FEATURE] add cluster edit functionality for adding ports via the loadbalancer
  cmd/cluster/cluster.go
  cmd/cluster/clusterCreate.go
  cmd/cluster/clusterEdit.go
  pkg/client/cluster.go
  pkg/client/loadbalancer.go
  pkg/client/node.go
  pkg/client/ports.go
  pkg/config/transform.go
  pkg/config/types/types.go
Labels: component/main, enhancement, priority/high

#678 [Enhancement] Create workers/helpers concurrently
  docgen/main.go
  pkg/client/cluster.go
  tools/cmd/image.go
  tools/main.go
Labels: component/main, enhancement, priority/medium, scope/package

#680 [Enhancement] docs: add a project overview
  CONTRIBUTING.md
  README.md
  docs/internals/.pages
  docs/internals/project.md
  thoughts.md
Labels: docs, enhancement, priority/medium

#682 [Enhancement] Docs: update for v5 (first iteration)
  cmd/cluster/clusterCreate.go
  docgen/README.md
  docgen/go.mod
  docgen/go.sum
  docgen/run.sh
  docs/usage/commands/k3d_cluster.md
  docs/usage/commands/k3d_cluster_create.md
  docs/usage/commands/k3d_cluster_edit.md
  docs/usage/commands/k3d_completion.md
  docs/usage/commands/k3d_config_migrate.md
  docs/usage/commands/k3d_node.md
  docs/usage/commands/k3d_node_create.md
  docs/usage/commands/k3d_node_edit.md
  docs/usage/commands/k3d_node_list.md
  docs/usage/commands/k3d_node_start.md
  docs/usage/configfile.md
  pkg/config/v1alpha3/schema.json
Labels: docs, enhancement
